{% extends 'base.html.twig' %}
{% block title %}Programmes{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block banner %}
<div class="container banner d-block">
  <h1 class="banner__title ">Votre programme</h1>
</div>
{% endblock %}
{% block body %}


{% if app.user %}
<div class="container col-lg-6 mt-5 mb-5">

  <h2>Confirmer votre demande d'informations {{app.user.name}} </h2>
  <table class="table">
    <tr>
      <th class="text-nowrap">Vous souhaitez des renseignements sur le programme :</th>
      <td><strong>{{programmes.Name}}</strong></td>
    </tr>
  </table>
  <p> Vous allez recevoir un mail récapitulatif de votre demande d'informations.</p>

  {{form_start(form)}}

  {{form_row(form.Envoyer, {attr: {class: "btn-prus"}})}}
  <a href="{{path('program')}}" class="btn btn-prus">Retourner aux programmes</a>
  {{form_end(form)}}
</div>
{% else %}
<div class="container col-lg-9 col-sm-12 mt-5 mb-5">
  <h1>Vous devez vous connecter pour choisir un programme.</h1>
  <a href="{{path('app_login')}}" class="btn btn-prus mb-5">Se connecter</a>
</div>
{% endif %}

{% endblock %}

{% block footerPosition %}{% if not app.user %}footerAbsolute{% endif %}{% endblock %}