
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" >
<style>
    strong{
        color: blue;
    }
</style>
</head>

<body>
    <div class="container col-lg-7 mt-5 mb-5">
            
            <h3>Innolab 62: Il y a une nouvelle souscription</h3>
            <small>Vous avez reçu un mail le {{date | date('d/m/Y')}} à {{date | date('H:i')}} </small>
            
                <p>Un nouveau client: <strong>{{name}}</strong>  authentifié avec l'adresse <strong>{{email}}</strong> s'est inscrit au programme <strong>{{alias}}</strong>. </p>

                <a href="http://127.0.0.1:8000/user" class="btn btn-prus">Valider le programme de l'utilisateur: {{name}}</a>
             </div>
             
</body>
</html>