{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}Confirm{% endblock %}

{% block body %}
    <div class="container col-lg-6">
    {% if app.user %}
        
    <h1>Confirmer votre souscription {{app.user.name}} </h1>
     {{form_start(form)}}
     {{form_row(form.Confirmer, {attr: {class: ' btn-prus'}})}}
     
     {{form_end(form)}}
    

    {% else %}
        <h1>Vous devez recevoir un mail pour confirmer</h1>
        <a href="{{path('program')}}" class="btn btn-prus">Choisir un programme</a>
    {% endif %}
    </div>

   
{% endblock %}
{% block footerPosition %}footerAbsolute{% endblock %}
