<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
</head>

<body>
    <div class="container col-lg-7 mt-5 mb-5">

        <h3>Innolab 62: Votre demande d'informations</h3>
        <img src="{{asset('build/images/innolabMini.png')}}" class="icon" alt="">
        <small>Vous avez choisis un programme proposé par Innolab 62 le {{date | date('d/m/Y')}} à
            {{date | date('H:i')}}.</small>


        <p>Félicitations {{name}} pour votre demande de souscription au programme : <strong>{{programmes}}</strong></p>

        <i class="fas fa-envelope"></i>
        <p><strong> Récapitulatif: </strong></p>
        <p>Ce que nous proposons au sein du programme {{programmes}}: </p>
        <p>{{programmes.description|raw}}</p>
        <hr>
        
        <p>Nous vous invitons à confirmer cette souscription auprès de notre équipe grâce au lien suivant afin de nous
            permettre de vous recontacter pour le suivi de votre demande.</p>

        <strong><a href="http://127.0.0.1:8000/confirm" class="btn btn-primary" >Confirmer votre souscription.</a></strong>



    </div>

</body>

</html>