{% extends 'base.html.twig' %}

{% block title %}Utilisateurs d'Innolab{% endblock %}

{% block body %}

{% if app.user %}
{% if is_granted('ROLE_ADMIN') %}
<div class="container mt-4 mb-5">
    <h1>Utilisateurs d'Innolab</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Utilisateurs</th>
                <th>Email</th>
                <th>Date d'inscription</th>
                <th>Programme</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td> Le {{ user.createdAt | date('d/m/Y') }} à {{ user.createdAt | date('H:i') }} </td>
                <td>{{user.programmes}} </td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}" class="btn btn-prus">Ajouter</a>

</div>

{% else %}
<div class="container mt-5 mb-5">
    <h1>Cette page est réservée aux administrateurs</h1>
    <a href="{{ path('app_login')}}" class="btn btn-prus">Se connecter</a>
</div>

<div class="container mt-4 mb-5"></div>

{% endif %}
{% else %}
<div class="container mt-5 mb-5">
    <h1>Cette page est réservée aux administrateurs</h1>
    <a href="{{ path('app_login')}}" class="btn btn-prus ">Se connecter</a>
</div>
{% endif %}


{% endblock %}